.addBox {
  border-radius: 20px;
  background-color: white;
  border-color: white;
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 60px;
  margin-top: 47px;
  margin-left: 125px;
  justify-content: space-between;
  border: 1px;
  border-color: #6666;
  font-family: Arial;
  font-weight: 400px;
  align-items: center;
}
.addBox select {
  border-radius: 10px;
  width: 127px;
  height: 37px;
  margin-right: 35px;
}
.taskTitle {
  border: none;
  width: 10px;

  flex-grow: 1;
  background-color: transparent;
  font-size: 20px;
}
.taskTitle:focus {
  outline: none;
}
.errorRequirement {
  color: red;
  margin-top: 25px;
  margin-left: 130px;
}

.addButton {
  margin-right: 32px;
  background: none;
  width: 30px;
  border: none;
  height: 30px;
}
