@import "GeneralStyle";

.App {
  @include flex(row, unset, left);
  font-family: $Primery_Font;
  height: 100%;
  margin-top: 20px;
}

.container {
  @include flex(row);
  gap: 10px;
  height: 100%;
}
