$Primery_Font: "sans-serif";

@mixin flex($direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}

.App {
  @include flex;
  font-family: $Primery_Font;
  height: 100%;
}

.container {
  @include flex(row);
  gap: 10px;
  height: 100%;
}
