@import "GenralStyle";
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.inner-div {
  @include flex(row, "unset");
  margin-right: 0px;
  border-radius: 18px 0 0 18px;
  padding: 10px 20px;
  width: 100%;
  font-size: 18px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.active-div {
  background-color: whitesmoke;
  color: $Primery_color;
}

.bubble {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
}

.categoryItemTitle {
  background-color: "";
}

.categoryItem {
  margin-bottom: 14px !important ;
  cursor: pointer;

  &:hover {
    animation: shake 0.5s infinite; /* Apply the 'shake' animation with a 0.5s duration and infinite iterations */
  }
}
