@import "GeneralStyle";

.checkbox-col {
  margin: auto;
  display: block;
  text-align: center;
  flex: 1;
  cursor: pointer;
  input {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
    border: 0.15em solid $Primery_color;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    &:checked {
      background-color: $Primery_color;
      position: relative;
    }
    &:checked::after {
      content: ""; /* Added content property */
      background-color: $Primery_color;
      position: relative;
      border-radius: 50%;
    }
    &:checked::before {
      content: "\2714";
      font-size: 1.5em;
      color: #fff;
      position: absolute;
      right: 1px;
      top: -5px;
    }
    &:hover {
      box-shadow: 0 0 6px 5px $Primery_color;
    }
  }
}
