@import "GeneralStyle";
.all {
  background-color: $primary_color;
  position: fixed;
  margin: 0; /*to make footer fill the screen width without scroll*/
  gap: 10px;
  width: 303px;
  height: 100%;
  border-radius: 20px;
}
.sidbar {
  @include flex;
  position: fixed;
  background-color: $primary_color;
  position: relative; /* to make footer in the bottom of the body*/
  margin: 0; /*to make footer fill the screen width without scroll*/
  gap: 10px;
  width: 303px;
  height: 100%;
  border-radius: 20px;
  color: whitesmoke;
  ul {
    list-style: none;
  }
  footer {
    @include flex(row);
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
  }
}

.title {
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  width: 300px;
  height: 44px;
  top: 26px;
  left: 41px;
}

.logo {
  text-align: center;
  top: 85px;
  left: 59px;
  border-radius: 15px;
  margin-left: 30%;
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.menu {
  display: block;
  text-align: center;
  flex-grow: 1;
  width: 100%;
  height: 266px;
  top: 5px;
  margin-right: 0px;
  border-radius: 20px, 0px, 0px, 20px;

  li {
    @include flex;
    margin-bottom: 5px;
    text-align: center;
    list-style-type: none;
  }
}

.profileLogo {
  width: 30px;
  height: 30px;
}
.settingLogo {
  width: 30px;
  height: 30px;
}
