.addBox {
  border-radius: 20px;
  background-color: white;
  border-color: white;
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 60px;
  margin-top: 30%;
  margin-left: 14%;
  justify-content: space-between;
  border: 1px;
  border-color: #6666;
  font-family: Arial;
  font-weight: 400px;
  align-items: center;
}
.taskTitle {
  border: none;
  width: 10px;
  flex-grow: 1;
  background-color: transparent;
  font-size: 20px;
}
.taskTitle:focus {
  outline: none;
}
.taksBox {
  margin-left: 10%;
}
.addBox select {
  border-radius: 10px;
  width: 127px;
  height: 37px;
  margin-right: 4%;
}
.addButton {
  margin-right: 6%;
  background: none;
  width: 30px;
  border: none;
  height: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}
.textTaskDone {
  color: #868686;
  font-size: 16px;
  cursor: pointer;
  margin-left: 25%;
  margin-top: 10%;
  text-align: center;
}
.textTaskDone:hover {
  font-weight: bold;
  font-size: 18px;
}
.textTaskDone:hover + .sparator {
  font-size: 18px;
  font-weight: bold;
  opacity: 1;
  display: block;
  opacity: 1;
}
/* animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 500ms; */
/* border-bottom: 6px solid #e0d5f6;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); */

/* 
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
.taskDoneItem {
  padding: 10px;

  margin-top: 10px;
}
.sparator {
  display: none;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
  /* background: rgb(243, 242, 241);
  background: rgb(245, 245, 245);
  background: linear-gradient(
    0deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 1) 89%
  ); */
  background: rgb(243, 242, 241);
  background: rgb(245, 245, 245);
  background: linear-gradient(
    0deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 1) 89%
  );
  border-radius: 15px;
  border-color: white;
  display: flex;
  flex-direction: row;
  width: 800px;
  margin-top: 2%;
  margin-left: 10%;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  font-size: 16px;
  font-weight: 400px;
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); */
}
.ErrorRequrment {
  color: red;
}
