.titr {
  color: red;
  font-style: oblique;
  width: 10px;
}

img {
  width: 30px;
  height: 30px;
}
.panel {
  display: flex;

  gap: 20px;
}
.bubble {
  border-radius: 50%;
}
.taskItem {
  border-radius: 15px;
  background-color: white;

  border-color: white;
  display: flex;
  flex-direction: row;
  width: 800px;
  margin-top: 2%;
  margin-left: 10%;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  font-size: 12px;
  font-weight: 400px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.category {
  width: 40px;
  border-radius: 20px 0 0 20px;
  height: 60px;
}
.taskItem span {
  width: fit-content;
}
.taskAuthor {
  margin: auto;
  color: #999999;
  text-align: left !important;
}
.taskDate {
  margin: auto;
  color: #999999;
}
taskItemTitle {
  color: #444444;
}
.taskItemTitle {
  font-size: 18px;
  margin-right: auto;
  margin-left: 20px;
}

.checkBox {
  margin: auto;
  display: block;
  text-align: left;
}
.taskDateAndTime {
  display: flex;
  flex-direction: column;
}
